@import "tailwindcss";
/* RESET KOJI UKLANJA BELE TRAKE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #020617; /* zinc-950 */
  overflow-x: hidden;
}


html, body {
  background-color: #09090b;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #020617;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* FORCE COVER TOP VIEWPORT GAP */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  background: #020617; /* zinc-950 */
  z-index: -1;
  pointer-events: none;
}
